@keyframes example {
    from {
        background-color: white;
    }
    to {
        background-color: #1f1f1f;
    }
}
@-webkit-keyframes example {
    from {
        background-color: white;
    }
    to {
        background-color: #1f1f1f;
    }
}